*{
    margin: 0;
    padding: 0;
}
link{
    background-color: none;
}
body{
    background-image: url("../image/WD2_CA_16_NewDawn.jpg");
    width: 100vw;
    height: 100vh;
    background-size: 100vw, 100vh;
}
body, a:hover {
    cursor: 
    url("../image/Small_pick.webp"),
    auto;
}
nav{
    display: flex;
}
.navbar{
    padding: 5px;
}
.navbar>a{
    color: lime;
}
.navbar>a:hover{
    color: white;
}
a{
    text-decoration: none;
}
#banner{
    height: 30vh;
    width: 100vw;
}
#link{
    color: black;
}
#link:hover{
    color: white;
}
form{
    color: lightblue;
}
table{
    border: 2px black;
    border-style: dotted;
}
